/* Custom Fonts */
@font-face {
  font-family: "calistogaregular";
  src: url("fonts/calistoga-regular-webfont.woff2") format("woff2"),
    url("fonts/calistoga-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alefregular";
  src: url("fonts/alef-regular-webfont.woff2") format("woff2"),
    url("fonts/alef-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "alefregular", serif;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* General text styling */
html {
  font-size: 10px;
}
body {
  letter-spacing: 1px;
  word-spacing: 1px;
}
header,
section,
aside,
nav,
footer {
  font-size: 1.6em;
  line-height: 1.7;
}
header {
  font-family: "calistogaregular", sans-serif;
  text-align: center;
}
h2 {
  font-family: "calistogaregular", sans-serif;
  letter-spacing: 1px;
}
section p {
  text-indent: 20px;
}

/* Links */
a {
  color: #aa6666;
}

a:visited {
  color: #716363;
}

a:focus {
  color: #d00d0d;
  outline: none;
}

a:hover {
  color: #e45151;
  text-decoration: none;
}

a:active {
  color: #aa6666;
  text-shadow: 1px 1px 1px #f0aaaa;
}

a[href^="http"] {
  background: url("external-link-52.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

/* Lists */
@counter-style fruit {
  system: cyclic;
  symbols: "\1F95D""\1F349""\1F353";
  suffix: " ";
}

ul {
  list-style: fruit;
}

/* Nav styling */
nav ul li {
  border: 1px solid #aa6666;
  padding: 1em;
  margin: 1em;
  list-style-type: none;
  font-size: 1.2em;
  text-align: center;
}

nav a {
  text-decoration: none;
}
